/* p {
    box-sizing: border-box
} */

/* body {
    background-color: #6fa7bd; */
    /* background-image: url(https://images.unsplash.com/photo-1643048529646-0b457e105e37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
/* } */

.header {
    display:flex;
    align-items:center; 
    /* background-color: #dd6f1a; */
    font-family: "Sora", sans-serif;
    height: 100px;
    padding: 15px;
    margin: -10px;
    background-image: url(https://images.unsplash.com/photo-1643048529646-0b457e105e37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    /* background-image:url(https://images.unsplash.com/photo-1523112784166-c04db3a3bb7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background-size: cover;
    background-position: center;
    position: relative;
}
.miniNav {
    display:flex;
    align-items:center; 
    /* background-color: #dd6f1a; */
    font-family: "Sora", sans-serif;
    height: 40px;
    padding: 15px;
    margin: -10px;
}
/* #banner {
    height: 200px;
    width: 100%;

} */
footer {
    display: flex;
    align-items: center; 
    /* margin: -1.25% 0 -1%; */
    /* background-color: #dd6f1a; */
    font-family: "Sora", sans-serif;
    height: 120px;
    margin-top: auto;
}

/* section {
    width: 95%;
    height: 225px;
    padding: 1%;
    margin: 1%;
    box-sizing: border-box;
    font-family: "Sora",sans-serif;
    background-color: rgb(0, 175, 166);
    color: rgb(8, 57, 104);
    border-radius: 20px;
    box-shadow: 0 0 5px 5px 15px rgb(116, 40, 10);
    border-style: solid;
    border-color: white;
    border-width: thick; */
/* } */

/* /*  */
div {
    font-size: 200%;
}

p {
    color: rgb(247, 221, 221);
} */

a {
    color: rgb(253, 211, 217);
}
.container {
    color: #4dcbd4;
    font-size: 250%;
} 

.headerlinks {
    color: rgb(245, 212, 212);
    font-size: 130%;
    margin-left: auto;
}

.contactInfo {
    box-sizing: border-box;
    background-color: #032e52;
    color: rgb(253, 211, 217);
    font-size: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: auto;
    padding: 1%;
}

section {
    font-family: "Sora", sans-serif;
    font-size: 20px;
}

.display-inline {
    font-display: inline;
    display: inline;
}

.title {
    font-family: "Sora", sans-serif;
    font-size: 105%;    
    /* background-color: rgb(71, 34, 12);       */
    color: rgb(89, 199, 199);
    width: 40%;
    text-align: right;
    font: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 10px;
    /* margin:auto;
    text-align: left; */
 
}

.content {    
    background-color: rgba(7, 50, 58, 0.144);
    width: 75%;
    text-align: left;    
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    color: rgb(71, 34, 12);
    border-radius: 5px;
    font-size: 110%;
    line-height: 2;
    height: auto;
    margin: auto;
    font-weight: bold;
    padding:15px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    padding: 20px 50px;
}

.profilePic {
    align-content: left;
    width: 30%; 
    box-sizing: border-box;
    background-color: rgb(71, 34, 12);
    opacity: 95%;
    border-radius: 5px;
    margin-left: 10px;
    height:250px;
    width: auto;
    margin: auto;
    border: rgb(58, 42, 18);
    border-style: solid;
    border-width: 10px;
}

.smallTitle {
    font-size: 100%;
    padding: 10px;
}
.cardContainer {
    display: flex;
    justify-content: center;
    flex: 2 0 0;
    /* padding: 10px; */
    text-align: center;
    width: 80%;
    flex-direction: column;
    align-items: center;
    color: #06818a;
    font-size: 200%;
}
.firstProject {
    border: 4px solid #032e52;
    background-color:#032352;
    height: 800px;
}
.firstProject , .projectRow {
    width: 80%;
    margin: 20px;


}
.projectRow {
    display: flex;
    justify-content: space-between;
    height: 500px;    
}

.projectsTwoThree {
    width: 48%;
    border: 4px solid  #032e52;
    object-fit: contain;
    background-color: #032e52;
    margin-bottom: -10px;

}

header {
    padding: 20px;
    background: #13293d;
    color: #fff;
}
  
img {
    width: 100%;
    height: 450px;
}

.image1 {
    height: 750px;
}
.label {
    background-color: rgb(108, 158, 190);

}

#text {
    font-family: "Sora", sans-serif;
    color: rgb(245, 212, 212);
    font-size: 165%;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .cardContainer {
        width:100%;
    }
    .firstProject , .projectRow {
        width: 100%;
    }
    .projectsTwoThree {
        width: 100%;
        justify-content: space-around;
    }

}